html,
body {
  margin: 0 auto;
  background-color: #0d1117;
  font-family: "Rubik", sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #28282a;
  margin: 40px;
  margin-bottom: 20px;
  gap: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 50px 9px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 50px 9px rgba(0, 0, 0, 0.39);
}

h1 {
  color: white;
  font-size: 60px;
  margin: 0;
  margin-top: 35px;
  margin-left: 35px;
}

p {
  color: white;
  margin-left: 35px;
  margin-bottom: 0px;
  font-size: 20px;
}

.start {
  height: 50px;
  display: flex;
  background-color: #313133;
  border-radius: 8px;
  margin-left: 35px;
  margin-right: 35px;
}

.end {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(112, 112, 112);
  background-color: #313133;
  border-radius: 8px;
  margin-left: 35px;
  margin-right: 35px;
  z-index: 3;
}

.sticky {
  background: #f5b335;
}

.calc {
  background-color: #7047eb;
  color: white;
}

button {
  width: 100px;
  height: 50px;
  border: none;
  background-color: rgb(46, 46, 46);
  font-family: "Rubik", sans-serif;
  color: rgb(112, 112, 112);
  border-radius: 10px;
  font-size: 15px;
  transition: 0.3s all;
}

button:hover {
  background-color: rgb(68, 67, 67);
  color: white;
  cursor: pointer;
}

input {
  width: 80%;
  text-align: center;
  color: rgb(112, 112, 112);
  border: none;
  font-family: "Rubik", sans-serif;
  background-color: #313133;
  border-radius: 8px;
  transition: 0.3s all;
}

input:hover {
  background-color: rgb(68, 67, 67);
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 35px;
  margin-bottom: 140px;
}

.day {
  background: gold;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 2px;
  z-index: 3;
  transition: 0.2s all;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

.reset {
  color: tomato;
}

.toggles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 80px;
  background-color: #28282a;
  margin-left: 40px;
  gap: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 50px 9px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 50px 9px rgba(0, 0, 0, 0.39);
}

.toggle {
  border-radius: 100px;
  height: 50px;
  width: 110px;
  background-color: gold;
  color: white;
}

.toggle:hover {
  background-color: rgb(241, 223, 120);
  cursor: pointer;
}
.card {
  width: 100%;
  height: 100px;
  background-color: rgb(30, 3, 73);
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.myFirstYear {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 35px;
  margin-bottom: 0px;
}

.marginYears {
  display: flex;
}

h4 {
  color: white;
  z-index: 3;
}
